<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ThiTrucTuyen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadStudent</display-name>
    <servlet-name>LoadStudent</servlet-name>
    <servlet-class>controller.LoadStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadStudent</servlet-name>
    <url-pattern>/loadStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>controller.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>controller.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>controller.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadTeacher</display-name>
    <servlet-name>LoadTeacher</servlet-name>
    <servlet-class>controller.LoadTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadTeacher</servlet-name>
    <url-pattern>/loadTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadExam</display-name>
    <servlet-name>LoadExam</servlet-name>
    <servlet-class>controller.LoadExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadExam</servlet-name>
    <url-pattern>/loadExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExam</display-name>
    <servlet-name>AddExam</servlet-name>
    <servlet-class>controller.AddExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExam</servlet-name>
    <url-pattern>/addExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExam</display-name>
    <servlet-name>UpdateExam</servlet-name>
    <servlet-class>controller.UpdateExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExam</servlet-name>
    <url-pattern>/updateExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadQuestion</display-name>
    <servlet-name>LoadQuestion</servlet-name>
    <servlet-class>controller.LoadQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadQuestion</servlet-name>
    <url-pattern>/loadQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuestion</display-name>
    <servlet-name>UpdateQuestion</servlet-name>
    <servlet-class>controller.UpdateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestion</servlet-name>
    <url-pattern>/updateQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadExamHS</display-name>
    <servlet-name>LoadExamHS</servlet-name>
    <servlet-class>controller.LoadExamHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadExamHS</servlet-name>
    <url-pattern>/loadExamHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadQuestionHS</display-name>
    <servlet-name>LoadQuestionHS</servlet-name>
    <servlet-class>controller.LoadQuestionHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadQuestionHS</servlet-name>
    <url-pattern>/loadQuestionHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckExamServlet</display-name>
    <servlet-name>CheckExamServlet</servlet-name>
    <servlet-class>controller.CheckExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckExamServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadKetQuaHS</display-name>
    <servlet-name>LoadKetQuaHS</servlet-name>
    <servlet-class>controller.LoadKetQuaHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadKetQuaHS</servlet-name>
    <url-pattern>/loadKetQuaHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewExamHS</display-name>
    <servlet-name>ViewExamHS</servlet-name>
    <servlet-class>controller.ViewExamHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewExamHS</servlet-name>
    <url-pattern>/viewExamHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadResultHS</display-name>
    <servlet-name>LoadResultHS</servlet-name>
    <servlet-class>controller.LoadResultHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResultHS</servlet-name>
    <url-pattern>/loadResultHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadResult</display-name>
    <servlet-name>LoadResult</servlet-name>
    <servlet-class>controller.LoadResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResult</servlet-name>
    <url-pattern>/loadResult</url-pattern>
  </servlet-mapping>
</web-app>